@model personapi_dotnet.Models.Entities.Estudio

@{
    ViewData["Title"] = "Eliminar Registro";
}

<h1>Eliminar Registro</h1>

<h4>¿Estás seguro de eliminar el registro?</h4>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fecha)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Univer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Univer)
        </dd>

        <dt class="col-sm-2">
            Persona
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CcPerNavigation.Cc) - @Html.DisplayFor(model => model.CcPerNavigation.Nombre) @Html.DisplayFor(model => model.CcPerNavigation.Apellido)
        </dd>

        <dt class="col-sm-2">
            Profesión
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdProfNavigation.Id) - @Html.DisplayFor(model => model.IdProfNavigation.Nom)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="IdProf" />
        <input type="hidden" asp-for="CcPer" />
        <input type="submit" value="Eliminar Registro" class="btn btn-danger" /> |
        <a asp-action="Index">Volver a la lista</a>
    </form>
</div>
